* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    background-image: url("back3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #searchInput {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 300px;
  }
  
  #searchButton {
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #searchButton:hover {
    background-color: #555;
  }
  
  #searchResults {
    text-align: center;
    margin-top: 20px;
  }
  
  #searchResults h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  #searchResults a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
  }
  
  #searchResults a:hover {
    color: #555;
  }
  
  #searchResults img {
    margin-top: 10px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  
  #searchResults p {
    margin: 5px 0;
  }
  